{% liquid
  assign gift_wrap_product = linklists['gift-wrapping'].links.first.object
  assign gift_wrap_product_first_variant_id = gift_wrap_product.variants.first.id

  assign gift_wraps_in_cart = 0
  for item in cart.items
    if item.id == gift_wrap_product_first_variant_id
      assign gift_wraps_in_cart = item.quantity
    endif
  endfor

  assign gift_card_wrap = false
  if cart.attributes['gift-wrapping'] or gift_wraps_in_cart > 0
    assign gift_card_wrap = true
  endif

  assign gift_message = false
  if linklists['gift-wrapping'].links.size > 0 and linklists['gift-wrapping'].links.first.type == 'product_link'
    if cart.attributes['gift-wrapping'] or gift_wraps_in_cart > 0
        assign gift_message = true
    endif
  endif
%}
<div class="cart-notification-wrapper h-100">
  <div class="cart_action_drawer_overlay"></div>

  <div
    id="cart-notification"
    class="cart-notification focus-inset h-100 d-flex flex-direction-column"
    aria-modal="true"
    aria-label="{{ 'general.cart.item_added' | t }}"
    role="dialog"
    tabindex="-1"
  >
    <div class="cart_notification_topbar">
      <div class="cart-notification__header {% if cart == empty %} empty__cart {% endif %}">
        <h2 class="cart-notification__heading item__empty_message {% if cart == empty %} no-js-inline {% endif %}">
          <div class="item__success_message {% if cart == empty %} no-js-inline {% endif %} h5">
            {{ 'general.cart.item_added' | t }}
          </div>
        </h2>

        <button
          type="button"
          class="cart-notification__close modal__close-button link link--text focus-inset"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <svg class="icon icon-close" aria-hidden="true" focusable="false">
            <use href="#icon-close">
          </svg>
        </button>
      </div>

      <div class="empty__cart__item {% if cart != empty %} no-js-inline {% endif %}">
        <h3 class="caption-large">{{ 'general.cart.empty_title' | t }}</h3>
        {%- if settings.continue_shopping_enable -%}
          <a class="button button--medium button-label" href="{{ settings.continue_shopping_link }}">
            {{- 'general.continue_shopping' | t -}}
          </a>
        {%- endif -%}
      </div>
    </div>

    <div
      class="cart__items {% if cart == empty %}no-js-inline {% endif %} flex-grow-1 y_scroll"
      id="min-cart-items"
    >
      <form action="{{ routes.cart_url }}" method="post" id="cart" class="w-100">
        <div class="js-contents">
          <div id="cart-notification-product">
            {% if settings.free_shipping_message %}
            {%- render 'cart-free-shipping' -%}
            {% endif %}
            {%- render 'cart-item-notification' -%}
          </div>
        </div>
      </form>
    </div>

    <div class="cart-notification__links {% if cart == empty %} no-js-inline {% endif %}" id="empty__cart__button">
      <div id="gift-wrapping" class="add__gift--wrap-in--mini-cart">
          {% render 'add-gift-wrap' %}
      </div>

    <div class="mini--cart-drawer-footer color-background-2">

      {% if gift_message or settings.cart_note_enable or settings.shipping_calc_enable or settings.coupon_enable %}
        <div class="cart__notification--attribute d-flex  {% if gift_message %}justify-content-between{% else %}justify-content-around{% endif %}">
        {% if gift_message %}
          <details id="details__gift--card-product" class="cart--drawer-details-popup">
            <summary class="details__gift--card-label mini-cart-popup-summary">
              {% render 'gift-wrap-icon' %}
              {{ 'general.gift_wrapping_message.button_title' | t }} 
            </summary>
        
            <div class="gift__card--details">
        
              <gift-wrap-message class="cart__drawer--popup">
                <div class="action_drawer_heading">
                  <h6 class="mb-15 mt-0">{{ 'general.gift_wrapping_message.popup_title' | t }} </h6>
                </div>
                <div class="action_drawer_body mb-20">
                  <textarea
                    class="text-area"
                    id="giftMessage"
                    class="form-control"
                    rows="3"
                    placeholder="{{ 'general.gift_wrapping_message.placeholder_title' | t }}"
                    spellcheck="false"
                    name="attributes[gift-note]"
                  ></textarea>
                </div>
                <div class="action_drawer_footer d-flex flex-direction-column">
                  <button class="button button--primary button__save">{{ 'general.gift_wrapping_message.save_button' | t }}</button>
                  <button
                    onclick="this.closest('details').querySelector('summary').click()"
                    class="link button__cancel"
                  >
                    {{ 'general.gift_wrapping_message.cancel_title' | t }}
                  </button>
                </div>
              </gift-wrap-message>
        
            </div>
          </details>
          {% endif %} 
        

          {% if settings.cart_note_enable %}
          <details id="drawer--cart-note" class="cart--drawer-details-popup">
            <summary class="details__gift--card-label cart_notification_action_button mini-cart-popup-summary">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
              {{ 'general.add_cart_note.button_title' | t }}
            </summary>
            <div class="gift__card--details">
              <cart-note class="cart__drawer--popup">
                <div class="action_drawer_heading">
                  <h6 class="mb-15 mt-0">{{ 'general.add_cart_note.popup_title' | t }}</h6>
                </div>
                <div class="action_drawer_body mb-20">
                  <textarea
                    class="text-area"
                    name="note"
                    id="cartNote"
                    class="form-control"
                    rows="3"
                    placeholder="Special instructions for seller"
                    spellcheck="false"
                  ></textarea>
                </div>
                <div class="action_drawer_footer d-flex flex-direction-column">
                  <button class="button button--primary button__save">{{ 'general.add_cart_note.save_button' | t }}</button> 
                  <button
                    onclick="this.closest('details').querySelector('summary').click()"
                    class="link button__cancel"
                  >
                    {{ 'general.add_cart_note.cancel_title' | t }}
                  </button>
                </div>
              </cart-note>
            </div>
          </details>
          {% endif %}

          {% if settings.shipping_calc_enable %}
          <details id="drawer--cart-shipping" class="cart--drawer-details-popup">
            <summary class="details__gift--card-label cart_notification_action_button mini-cart-popup-summary"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg> {{ 'general.shipping_calculator.button_title' | t }}</summary>
            <div class="gift__card--details">
              <shipping-calculator class="cart__drawer--popup">
                <div class="action_drawer_heading">
                  <h6 class="mb-15 mt-0">{{ 'general.shipping_calculator.popup_title' | t }}</h6>
                </div>
                <div class="action_drawer_body">
                  <div class="select__field_form mb-20">
                    <select
                      id="all--countries-shipping"
                      name="address[country]"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>

                  <div id="AddressProvinceContainerNewShiping" class="select__field_form mb-20" style="display: none">
                    <select
                      id="AddressProvince_shipping"
                      name="address[province]"
                      autocomplete="address-level1"
                    ></select>
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>

                  <div class="input__field_form mb-20">
                    <input
                      type="text"
                      class="input__field"
                      id="ShippingAddressZip"
                      autocapitalize="characters"
                      autocomplete="postal-code"
                      placeholder="{{ 'customer.addresses.zip' | t }}"
                    >
                  </div>
                </div>
                <div class="action_drawer_footer d-flex flex-direction-column">
                  <button class="button button--primary button__save">
                    {{ 'general.shipping_calculator.calculate_button' | t }}
                  </button>
                  <button class="link button__cancel" onclick="this.closest('details').querySelector('summary').click()"> {{ 'general.shipping_calculator.cancel_button' | t }}</button>
                </div>
                <div class="shipping_rate_message mt-15 no-js-inline text-center">
                  <p>
                    {{ 'general.shipping_calculator.address_first_label' | t }}
                    <span class="shipping_address_count"></span>
                    {{ 'general.shipping_calculator.address_second_label' | t }}
                  </p>
                </div>
                <div class="shipping_rate_package text-center"></div>
              </shipping-calculator>
            </div>
          </details>
          {% endif %}

          {% if settings.coupon_enable %}
          <details id="drawer--cart-coupon" class="cart--drawer-details-popup">
            <summary class="details__gift--card-label cart_notification_action_button mini-cart-popup-summary">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-percent"><line x1="19" y1="5" x2="5" y2="19"></line><circle cx="6.5" cy="6.5" r="2.5"></circle><circle cx="17.5" cy="17.5" r="2.5"></circle></svg>
              {{ 'general.coupon_code.button_title' | t }}
            </summary>
            <div class="gift__card--details">
              <discount-code class="cart__drawer--popup">
                <div class="action_drawer_heading">
                  <h6 class="mb-15 mt-0"> {{ 'general.coupon_code.popup_title' | t }} </h6>
                </div>
                <div class="action_drawer_body mb-20">
                  <input
                    id="coupon_code"
                    placeholder="Enter discount code here"
                    type="text"
                    name="discount"
                    form="cart"
                    value=""
                  >
                </div>
                <div class="action_drawer_footer d-flex flex-direction-column">
                  <button class="button button--primary button__save"">{{ 'general.coupon_code.save_button' | t }}</button>
                  <button class="link button__cancel" onclick="this.closest('details').querySelector('summary').click()"> {{ 'general.coupon_code.cancel_title' | t }}</button>
                </div>

                <div class="coupon_wrong_message error no-js-inline mt-15">
                  {{ 'general.coupon_code.coupon_wrong_message' | t }}
                </div>
              </discount-code
            </div>
          </details>
          {% endif %}
        </div>
        {% endif %}

         <div class="cart_notification_links_inner">
              <div class="totals d-flex justify-content-between align-items-center">
                <h3 class="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                <p id="cart-notification-subtotal">{{ cart.total_price | money_with_currency }}</p>
              </div>
      
              <div id="cart-notification-discount">
                {%- if cart.cart_level_discount_applications.size > 0 -%}
                  <div class="cart_notification--discount mb-20">
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount d-flex justify-content-between">
                          <span class="discount__title">
                            {%- render 'icon-discount' -%}
                            {{ discount.title }}
                          </span>
                          <span class="discount__amount"> (-{{ discount.total_allocated_amount | money }})</span>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
              </div>
      
              <div class="tax-note caption-large rte mb-15">
                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                  {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- elsif cart.taxes_included -%}
                  {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                {%- elsif shop.shipping_policy.body != blank -%}
                  {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                {%- else -%}
                  {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                {%- endif -%}
              </div>
      
              <div class="d-flex justify-content-between cart_notification--footer">
                {%- if settings.cart_btn_enable -%}
                <a class="button button--secondary button--full-width mb-15" href="{{ routes.cart_url }}">
                  {{- 'general.cart.view' | t -}}
                </a>
                {% endif %}
                {%- if settings.checkout_btn_enable -%}
                  <div class="cart--checkout__button">
                    <button type="submit" class="button button--primary button--full-width" name="checkout" form="cart">
                      {{ 'sections.cart.checkout' | t }}
                    </button>
                  </div>
                {%- endif -%}
              </div>
            </div>
                              
                        
      </div>     
    </div>
  </div>
</div>
