{%- liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif

  assign justify_content = 'justify-content-start'
  if section.settings.text_center == 'center'
    assign justify_content = 'justify-content-center'
  elsif section.settings.text_center == 'right'
    assign justify_content = 'justify-content-end'
  endif
-%}
{{ 'section-countdown-banner.css' | asset_url | stylesheet_tag }}
{% if section.settings.snow_fall %}
  {{ 'snow-fall.css' | asset_url | stylesheet_tag }}
{% endif %}
{%- liquid
  assign container = ''
  if section.settings.container == 'container'
    assign container = 'container'
  elsif section.settings.container == 'container-fluid'
    assign container = 'container-fluid'
  else
    assign container = 'container-fluid px-0'
  endif
-%}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  {% if section.settings.custom_colors %}
  .custom--colors-{{ section.id }}{
    --color-foreground: {{ section.settings.foreground.red }}, {{ section.settings.foreground.green }}, {{ section.settings.foreground.blue }};
    --color-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    --color-button: {{ section.settings.accent_1_bg.red }}, {{ section.settings.accent_1_bg.green }}, {{ section.settings.accent_1_bg.blue }};
    --color-button-text: {{ section.settings.accent_1_text.red }}, {{ section.settings.accent_1_text.green }}, {{ section.settings.accent_1_text.blue }};
  }
  {% endif %}
</style>

{% if theme_rtl %}
  {{ 'section-countdown-banner-rtl.css' | asset_url | stylesheet_tag }}
{% endif %}
<div
  class="deals__banner--section {% if section.settings.full_width %} section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if section.settings.custom_colors %} custom--colors-{{ section.id }}{% endif %} {% endif %}  {% if section.settings.snow_fall %}snow--fall{% endif %}"
  data-section-id="{{ section.id }}"
  data-section-type="popup-video"
>
  {% if section.settings.full_width %}
    {% render 'countdown-banner-1', container: container, justify_content: justify_content %}
  {% else %}
    {% render 'countdown-banner-2', container: container, round_corner: section.settings.round_corner %}
  {% endif %}
</div>

{% schema %}
 {
   "name": "Countdown banner",
   "settings": [
	{
       "type": "checkbox",
       "id": "snow_fall",
       "label": "Enable snow fall",
       "default": false
     },
     {
        "type": "select",
        "id": "container",
        "label": "Page width",
        "default": "container-fluid",
        "options": [
          {
            "value": "container",
            "label": "Boxed"
          },
          {
            "value": "container-fluid",
            "label": "Full width"
          }
        ]
      },
	{
         "type": "image_picker",
         "id": "image",
         "label": "Background image"
       },
       {
         "type": "range",
         "id": "image_overlay_opacity",
         "min": 0,
         "max": 100,
         "step": 10,
         "unit": "%",
         "label": "Image overlay opacity",
         "default": 0
       },
     {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
     {
        "type": "checkbox",
        "id": "round_corner",
        "label": "Round corner",
        "default": false,
        "info": "It will work unless you enable the \"Make section full width\""
      },
     {
         "type": "header",
         "content": "Video settings"
       },
     {
      "type": "checkbox",
      "id": "video_enable",
      "label": "Enable video",
      "default": true
    },
     {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "placeholder": "t:sections.video.settings.video_url.placeholder",
        "info": "t:sections.video.settings.video_url.info"
      },
	{
         "type": "header",
         "content": "Content settings"
       },
	{
         "type": "text",
         "id": "countdown_time",
         "default": "2024-07-05",
         "label": "Countdown date",
    	 "info": "Date format: YYYY-MM-DD"
       },
	{
         "type": "text",
         "id": "heading",
         "default": "Deals Of The Day",
         "label": "Heading"
       },
	{
         "type": "text",
         "id": "subheading",
         "default": "Subtitle",
         "label": "Subheading"
       },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post.</p>"
      },
	{
             "type": "paragraph",
             "content": "Button"
           },
		{
             "type": "text",
             "id": "button_label",
             "label": "Button label",
		   "default": "Shop now"
           },
     {
             "type": "checkbox",
             "id": "button_icon",
             "label": "Use arrow icon",
             "default": true
           },
		{
             "type": "url",
             "id": "button_link",
             "label": "Button url"
           },
	    {
             "type": "select",
             "id": "button_type",
             "label": "Button type",
             "default": "primary",
             "options": [
               {
                 "value": "secondary",
                 "label": "Secondary"
               },
               {
                 "value": "primary",
                 "label": "Primary"
               }
             ]
           },
		{
             "type": "select",
             "id": "button_size",
             "label": "Button size",
             "default": "large",
             "options": [
               {
                 "value": "large",
                 "label": "Large"
               },
               {
                 "value": "medium",
                 "label": "Medium"
               },
			        {
                 "value": "small",
                 "label": "Small"
               }
             ]
           },
           {
            "type": "select",
            "id": "text_center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left",
            "label": "Content alignment"
          },
          {
             "type": "header",
             "content": "Section padding"
           },
           {
                 "type": "paragraph",
                 "content": "Desktop"
               },
               {
                 "type": "range",
                 "id": "padding_top",
                 "min": 0,
                 "max": 150,
                 "step": 5,
                 "unit": "px",
                 "label": "Padding top",
                 "default": 50
               },
               {
                 "type": "range",
                 "id": "padding_bottom",
                 "min": 0,
                 "max": 150,
                 "step": 5,
                 "unit": "px",
                 "label": "Padding bottom",
                 "default": 50
               },
               {
                 "type": "paragraph",
                 "content": "Mobile"
               },
               {
                 "type": "range",
                 "id": "mobile_padding_top",
                 "min": 0,
                 "max": 150,
                 "step": 5,
                 "unit": "px",
                 "label": "Padding top",
                 "default": 50
               },
               {
                 "type": "range",
                 "id": "mobile_padding_bottom",
                 "min": 0,
                 "max": 150,
                 "step": 5,
                 "unit": "px",
                 "label": "Padding bottom",
                 "default": 50
               },
         {
              "type": "header",
              "content": "Colors"
            },

         {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "background-2"
        },
           {
          "type": "checkbox",
          "id": "custom_colors",
          "label": "Replace with your custom colors",
          "default": true
        },
        {
          "type": "color",
          "id": "foreground",
          "default": "#121212",
          "label": "Foreground color"
        },
        {
          "type": "color",
          "id": "background",
          "default": "#F7F8FC",
          "label": "Background color"
        },
       {
          "type": "color",
          "id": "accent_1_bg",
          "default": "#EE2761",
          "label": "Accent 1 background"
        },
        {
          "type": "color",
          "id": "accent_1_text",
          "default": "#fff",
          "label": "Accent 1 foreground"
        }
],
"presets": [
     {
       "name": "Countdown banner"
     }
 ],
   "disabled_on": {
    "groups": ["header","footer"]
  }
 }
{% endschema %}
