{{ 'image-comparison.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign container = ''
  if section.settings.container == 'container'
    assign container = 'container'
  elsif section.settings.container == 'container-fluid'
    assign container = 'container-fluid'
  else
    assign container = 'container-fluid px-0'
  endif
-%}

<script src="{{ 'image-comparison.js' | asset_url }}" defer="defer"></script>
<div class="image--comparison section-{{ section.id }}-padding">
  <div class="{{ container }}">
    {% if section.settings.heading != blank or section.settings.subtitle != blank %}
      <div class="section-heading text-{{ section.settings.text_center }}  {% if section.settings.border_line or section.settings.show_navigation_topbar %} mb-70 {% else %} mb-50{% endif %}">
        <span class="section-heading__sub_title h6">{{- section.settings.subtitle -}}</span>
        <h2 class="section-heading__title">
          {% if section.settings.border_line %}<span>{% endif %}
          {{- section.settings.heading -}}
          {% if section.settings.border_line %}</span>{% endif %}
        </h2>
      </div>
    {% endif %}
  </div>

  <div class="{{ container }} {% unless section.settings.show_offset %}p-0{% endunless %}">
    <image-comparison class="image--comparison-wrapper" data-layout="horizontal" style="--percent: 50%;">
      <div class="image--comparison__before">
        <div
          class="image-comparison--media image-comparison--media--{{ section.settings.height }} {% if section.settings.image != blank %}media{% else %}placeholder_svg_parent placeholder{% endif %}"
          {% if section.settings.height == 'adapt' and section.settings.image != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
          {% endif %}
        >
          {%- if section.settings.image != blank -%}
            {%- capture sizes -%}(min-width: {{ settings.container_lg_width }}px) {{ settings.container_lg_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{%- endcapture -%}
            {% liquid
              assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round

              if section.settings.mobile_image != blank
                assign slide_image_class = 'small-hide'
              endif
            %}
            {{
              section.settings.image
              | image_url: width: 1500
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '165, 360, 535, 750, 1070, 1500, 1780, 2000, 3000',
                height: height,
                class: slide_image_class
            }}
          {%- else -%}
            {% if section.settings.mobile_image != blank %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg small-hide' }}
            {% else %}
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          {%- endif -%}

          {% if section.settings.mobile_image != blank %}
            {% liquid
              assign mobile_slide_height = section.settings.mobile_image.width | divided_by: section.settings.mobile_image.aspect_ratio | round
            %}
            {{
              section.settings.mobile_image
              | image_url: width: 1500
              | image_tag:
                loading: 'lazy',
                height: mobile_slide_height,
                sizes: '100vw',
                widths: '375, 550, 750, 1100, 1500',
                class: 'd-sm-only-visible'
            }}
          {%- endif -%}
        </div>
      </div>

      <div class="image--comparison__after">
        <div class="{% if section.settings.image_2 != blank %}media{% else %}placeholder_svg_parent placeholder{% endif %}">
          {%- if section.settings.image_2 != blank -%}
            {%- capture sizes -%}(min-width: {{ settings.container_lg_width }}px) {{ settings.container_lg_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw{%- endcapture -%}
            {% liquid
              assign height = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio | round

              if section.settings.mobile_image_2 != blank
                assign slide_image_class = 'small-hide'
              endif
            %}
            {{
              section.settings.image_2
              | image_url: width: 1500
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '165, 360, 535, 750, 1070, 1500, 1780, 2000, 3000',
                height: height,
                class: slide_image_class
            }}
          {%- else -%}
            {% if section.settings.mobile_image_2 != blank %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg small-hide' }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg-2' }}
            {% endif %}
          {%- endif -%}

          {% if section.settings.mobile_image_2 != blank %}
            {% liquid
              assign mobile_slide_height = section.settings.mobile_image_2.width | divided_by: section.settings.mobile_image_2.aspect_ratio | round
            %}
            {{
              section.settings.mobile_image_2
              | image_url: width: 1500
              | image_tag:
                loading: 'lazy',
                height: mobile_slide_height,
                sizes: '100vw',
                widths: '375, 550, 750, 1100, 1500',
                class: 'd-sm-only-visible'
            }}
          {%- endif -%}
        </div>
      </div>

      <button type="button" class="image-comparison__button">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            focusable="false"
            class="icon icon-discount"
            fill="none"
            viewBox="0 0 11 16"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.5C0 0.223858 0.223858 0 0.5 0C0.776142 0 1 0.223858 1 0.5V15.5C1 15.7761 0.776142 16 0.5 16C0.223858 16 0 15.7761 0 15.5V0.5ZM5 0.5C5 0.223858 5.22386 0 5.5 0C5.77614 0 6 0.223858 6 0.5V15.5C6 15.7761 5.77614 16 5.5 16C5.22386 16 5 15.7761 5 15.5V0.5ZM11 0.5C11 0.223858 10.7761 0 10.5 0C10.2239 0 10 0.223858 10 0.5V15.5C10 15.7761 10.2239 16 10.5 16C10.7761 16 11 15.7761 11 15.5V0.5Z" fill="currentColor"></path>
          </svg>
        </span>
      </button>
    </image-comparison>
  </div>
</div>

{% schema %}
{
  "name": "Before/after image slider",
  "settings": [
    {
        "type": "select",
        "id": "container",
        "label": "Page width",
        "default": "container-fluid",
        "options": [
          {
            "value": "container",
            "label": "Boxed"
          },
          {
            "value": "container-fluid",
            "label": "Full width"
          }
        ]
      },
    {
       "type": "checkbox",
       "id": "show_offset",
       "label": "Enable Offset (left & right)",
       "default": true
     },
     {
     "type": "header",
     "content": "Section header"
   },
   {
     "type": "textarea",
     "id": "subtitle",
     "label": "Subheading"
   },
    {
      "type": "text",
      "id": "heading",
      "default": "Image comparison",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "text_center",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "label": "Heading alignment"
    },
    {
       "type": "checkbox",
       "id": "border_line",
       "label": "Enable border line",
       "default": true
     },
    {
      "type": "header",
      "content": "Before image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image"
    },
    {
      "type": "header",
      "content": "After image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image_2",
      "label": "Mobile image"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
          "type": "paragraph",
          "content": "Desktop"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 50
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 50
        },
		{
          "type": "paragraph",
          "content": "Mobile"
        },
		{
          "type": "range",
          "id": "mobile_padding_top",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding top",
          "default": 50
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "min": 0,
          "max": 150,
          "step": 5,
          "unit": "px",
          "label": "Padding bottom",
          "default": 50
        }
  ],
    "presets": [
  {
    "name": "Before/after image slider"
  }
],
  "disabled_on": {
    "groups": ["header","footer"]
  }
}
{% endschema %}
