{%- liquid
  assign theme_rtl = false
  if settings.enable_rtl and settings.langauges_rtl == blank
    assign theme_rtl = true
  endif

  if settings.enable_rtl and settings.langauges_rtl != blank
    assign rtl_languages = settings.langauges_rtl | split: ','
    for language in rtl_languages
      if language == request.locale.iso_code
        assign theme_rtl = true
      endif
    endfor
  endif
-%}
{{ 'scrolling-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'scrolling-text.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    margin-top: {{ section.settings.mobile_margin_top }}px;
    margin-bottom: {{ section.settings.mobile_margin_bottom }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
  {% if section.settings.custom_colors %}
    .custom--color-{{ section.id }}{
      --color-foreground: {{ section.settings.foreground.red }}, {{ section.settings.foreground.green }}, {{ section.settings.foreground.blue }};
      --color-background: {{ section.settings.background.red }}, {{ section.settings.background.green }}, {{ section.settings.background.blue }};
    }
    {% endif %}
{%- endstyle -%}

{% if theme_rtl %}
  {{ 'scrolling-text-rtl.css' | asset_url | stylesheet_tag }}
{% endif %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} {% if section.settings.custom_colors  %} custom--color-{{ section.id }} {% endif %}">
  <marquee-scroll
    class="scrolling--text scrolling--text--{{ section.settings.direction }}"
    style="--duration: {{ section.settings.speed }}s"
  >
    <div class="scrolling--item scrolling--animated">
      {%- for block in section.blocks -%}
        <div
          class="scrolling--item__inner {{ section.settings.text_size }} {% if block.settings.text_stroke %} scrolling--item__text--stroke {% endif %}"
          {{ block.shopify_attributes }}
        >
          <span class="scrolling--text__content"> {{ block.settings.text }}</span>
        </div>
      {%- endfor -%}
    </div>
  </marquee-scroll>
</div>

{% schema %}
{
  "name": "Scrolling text",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "speed",
      "min": 2,
      "max": 30,
      "step": 1,
      "unit": "s",
      "label": "Speed",
      "default": 15
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
     {
     "type": "select",
     "id": "text_size",
     "options": [
       {
         "value": "body--text",
         "label": "Body"
       },
       {
         "value": "h6",
         "label": "Extra small"
       },
       {
         "value": "h5",
         "label": "Small"
       },
       {
         "value": "h4",
         "label": "Medium"
       },
       {
         "value": "h3",
         "label": "Large"
       },
       {
         "value": "h2",
         "label": "Extra large"
       }
     ],
     "default": "h2",
      "label": "Text size"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_margin_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_margin_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Colors"
    },

    {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-2"
      },
    {
      "type": "checkbox",
      "id": "custom_colors",
      "label": "Replace with your custom colors",
      "default": false
    },
    {
      "type": "color",
      "id": "foreground",
      "default": "#121212",
      "label": "Foreground color"
    },
    {
      "type": "color",
      "id": "background",
      "default": "#fff",
      "label": "Background color"
    }
  ],
  "blocks": [
     {
      "type": "announcement",
      "name": "Announcement",
      "settings": [
        {
            "type": "text",
            "id": "text",
            "default": "Welcome to store",
            "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "text_stroke",
          "label": "Text stroke",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling text",
      "blocks":[
          {
            "type": "announcement"
          },
          {
            "type": "announcement",
             "settings": {
               "text_stroke": true
             }
          },
         {
            "type": "announcement"
         },
         {
            "type": "announcement",
             "settings": {
               "text_stroke": true
             }
         },
         {
            "type": "announcement"
         },
         {
            "type": "announcement",
             "settings": {
               "text_stroke": true
             }
         },
        {
            "type": "announcement"
         },
        {
            "type": "announcement",
             "settings": {
               "text_stroke": true
             }
         }
      ]
    }
  ]
}
{% endschema %}
