{%- for filter in collection.filters -%}
  {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
  {% case filter.type %}
    {% when 'boolean', 'list' %}
      <select
        class="facets--filter"
        data-label="{{ filter.label | escape }}"
        data-param-name="{{ filter.param_name}}"
      >
        {%- for value in filter.values -%}
          <option value="{{ value.value }}" data-count="{{ value.count }}" data-param-name="{{ value.param_name }}">
            {{ value.label | escape }} ({{ value.count }})
          </option>
        {%- endfor -%}
      </select>
  {% endcase %}
{%- endfor -%}
